:root{
    width: 100%;
    font-size: 16px;
    height: 100%;
}

 

.header {
    text-align: center;
    background-color: #146c78;
    color: white;
    width: 100%;
    height:10%; 
    font-family: 'Lobster', cursive;
    font-size: 1.8em;
    padding-top: 10px;
}

.banner {
     color: white;
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}
.responsive-image {
  width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.centered h3 {
    padding-top: 10px;
    font-size: 1.8em;
    font-family: 'Cabin Sketch', cursive;
    
}
.centered p {
    font-size: 2.2em;
    font-family: 'Orbitron', sans-serif;
}
.button {
    background-color: #ed5e68; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.about-me {
    width: 97vw;
    height: 500vh;
    background-color: #0e8581;
    display: inline-block;
    color: white;
}
.about-me h2 {
    text-align: center;
    font-size: 1.9em;
    padding-top: 100px;
    font-family: 'Orbitron', sans-serif
}
.about-me h3 {
    padding-left: 85px;
    padding-right: 65px;
    font-family: 'Sunflower', sans-serif;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    margin-left: 20px;
    padding-left:10px ;
    height: 400px; /* Should be removed. Only for demonstration */
}
.column img {
    width: 100%;
    height:200px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .column {
        width: 30%;
    }
}

.contact {
    text-align: center;
    
}
.contact img {

}
.gmail-contact {
    text-align: center;
    padding:0px;
}
.contact-row:after {
    content: "";
    display: table;
    clear: both;
}
.contact-column {
    float: left;
    width: 40%;
    padding: 10px;
    height: 150px;
     margin-left: 20px;
    margin-right:20px ;
    text-align: center;
}
.contact-column img {
    width: 20%;
}
.footer {
    text-align: center;
    font-size: 1.3em;
    text-decoration: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .centered  {
        width: 100%;
        font-size: 1em;
        padding-top: 2%;
    } 
    .column {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .column img {
        width: 75%;
    }
    .footer {
        background-color:#ed5e68; 
    }
    .contact {
        background-color: #0e8581;
        text-align: center;
    }
    .contact-column {
        text-align: center;
    }
    
}

/* small and Medium devices like tab */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    
    .column {
        width: 25%;
        height: auto;
        text-align: center;
    }
    .column img {
        width: 25%%;
    }
    .footer {
        background-color:#ed5e68; 
    }
    .contact {
        background-color: #0e8581;
        text-align: center;
    }
}
@media only screen and (min-width:769px) {
    .column {
        width: 25%;
        height: auto;
        text-align: center;
    }
    .column img {
        width: 25%%;
    }
    .footer {
        background-color:#ed5e68; 
    }
    .contact {
        background-color: #0e8581;
        text-align: center;
    }
}




